{% extends 'base.html' %} {% block content %}

<h2>{{ titulo }}</h2>

<p>
  <a href="{% url 'cadastros:paciente_cadastrar' %}">
    Cadastrar novo paciente
  </a>
</p>

<p>
  <a href="{% url 'cadastros:paciente_buscar_cpf' %}"> Buscar por CPF </a>
  |
  <a href="{% url 'cadastros:paciente_buscar_nome' %}"> Buscar por nome </a>
</p>

{% if pacientes %}
<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>CPF</th>
      <th>Telefone</th>
      <th>E-mail</th>
      <th>Data de nascimento</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    {% for paciente in pacientes %}
    <tr>
      <td>{{ paciente.idPaciente }}</td>
      <td>{{ paciente.nome }}</td>
      <td>{{ paciente.cpf_formatado }}</td>
      <td>{{ paciente.telefone }}</td>
      <td>{{ paciente.email }}</td>
      <td>{{ paciente.dataNascimento|date:"d/m/Y" }}</td>
      <td>
        <a href="{% url 'cadastros:paciente_detalhe' paciente.idPaciente %}">
          Visualizar
        </a>
        |
        <a href="{% url 'cadastros:paciente_editar' paciente.idPaciente %}">
          Editar
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Nenhum paciente cadastrado.</p>
{% endif %} {% endblock %}
