<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>MedClin</title>
  </head>
  <body>
    <header>
      <h1>MedClin</h1>

      <nav>
        <a href="{% url 'cadastros:paciente_listar' %}">Pacientes</a>
        |
        <a href="{% url 'cadastros:paciente_cadastrar' %}"
          >Cadastrar paciente</a
        >
        |
        <a href="{% url 'cadastros:paciente_buscar_cpf' %}">Buscar por CPF</a>
        |
        <a href="{% url 'cadastros:paciente_buscar_nome' %}">Buscar por nome</a>
        |
        <a href="{% url 'prontuario:prontuario_listar' %}">Prontuários</a>
        |
        <a href="{% url 'prontuario:prontuario_inicializar' %}"
          >Inicializar prontuário</a
        >
      </nav>
    </header>

    <hr />

    <main>
      {% if messages %} {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %} {% endif %} {% block content %} {% endblock %}
    </main>
  </body>
</html>
